<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Liste perso</h1>
<% characters.forEach(chara => { %>
    <p><%= chara.name %></p>

<%}) %>
</body>
</html>