@font-face {
    font-family: myFont;
    src: url(Playball-Regular.ttf);
}

*{
    font-family: myFont;
}

.jersey-content {
    margin-bottom: 20px;
}

.jersey-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.jersey-piece {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

.jersey-piece img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.box-article{
    width: 30%;
}

.article-all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{background-color: #9b0a0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;}

    .swiper {
        width: 600px;
        height: 500px;
      }