.jersey-content {
    margin-bottom: 20px;
}

.jersey-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.jersey-piece {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px); 
    color: #000;
}

.jersey-piece:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(56, 54, 220, 0.534);
}

.jersey-piece img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}