.payment-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.payment-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .card-expiry {
    display: flex;
    justify-content: space-between;
}

.form-group .card-expiry input {
    width: calc(48% - 5px);
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #bc0022;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #a3001c;
}

.suggestions {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    width: fit-content;
}

.suggestions div:hover {
    background-color: #f2f2f2;
}

@font-face {
    font-family: myFont;
    src: url(Playball-Regular.ttf);
}

*{
    font-family: myFont;
}