
.carousel-container {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    position: relative;
}


.navigation-auto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 20px;
}

.navigation-auto div {
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.navigation-auto div.active {
    background-color: #333;
}

@keyframes slideCaroussel {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

#content-img1, #content-img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide {
    animation: slideCaroussel 10s infinite;
    width: 200%;
    height: 100%;
    display: flex;
}

.slide-content {
    width: 50%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 400px;
    height: 90px;
    margin-left: 75vh;
}

.information{
    margin-right: 20vh;
}

.information img {
    width: 50px;
    height: 50px;
}



.category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #041e42;
    height: 75px;
}

a {
    text-decoration: none;
    color: white;
}

.reduc {
    background-color: #bc0022;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.american-league {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 100px;
}

.title-am {
    color: #bc0022;
    height: 75px;
}

.team-am {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.national-league {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-na {
    color: #041e42;
    height: 75px;
}

.team-na {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.jersey {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #041e42;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img1 img {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.img2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.img2 img {
    width: 500px;
    margin-bottom: -5%;
}

footer {
    background-color: #B3B3B3;
}

.real-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.footer-logo img {
    height: 50px;
    width: 200px;
}

.team-am img {
    width: 200px;
    height: 200px;
}

.team-na img {
    width: 200px;
    height: 200px;
}

/* article */
.article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.article img {
    width: 500px;
    height: 500px;
}

.buy {
    display: flex;
    flex-direction: column;
}

.stock {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: green;
}

.stock button {
    background-color: #bc0022;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.box {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.taille {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.taille button {
    background-color: #041e42;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.t-size {
    display: flex;
    justify-content: start;
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button button {
    background-color: #bc0022;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.icon {
    width: 300px;
}

.descrptionWebSite{
    margin: 5vh;
}

.jersey-content {
    margin-bottom: 20px;
}

.jersey-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.jersey-piece {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

.jersey-piece img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
}

.a-maillot{
    width: 30%;
}

@font-face {
    font-family: myFont;
    src: url(Playball-Regular.ttf);
}

*{
    font-family: myFont;
}