<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/cart.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href="/"><img src="/public/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href="/cart"><img src="/public/img/cart-icon 1.png" alt=""></a>
                <a href="/favorite"><img src="/public/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        <div class="reduc">
            <a href="">VIEW ALL JERSEY up to -50%</a>
        </div>
    </header>
    <div class="allbox">
        <div class="box1">
            <h3>Your items</h3>
            <div class="jerseys__display">
            </div>
            <div class="box3">
                <div class="order">
                    <h1>Order Summary</h1>
                    <div>
                        <p>Item Total</p>
                        <p id="total__quantity"></p>
                    </div>
                    <div>
                        <p>Cart Total</p>
                        <p id="total__price"></p>
                    </div>
                    <a href="/payment"><button>Checkout</button></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="category">
            <a href="/category"> Shop by team</a>
            <a href="/category">Men</a>
            <a href="/category">Women</a>
        </div>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="">My account</a>
                <a href="">Cart</a>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/public/js/cart.js"></script>
</body>

</html>