<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/article.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href="/"><img src="/public/img/logo 1.png" alt="logo baseball"></a>
            </div>
            <div class="information">
                <a href="/cart"><img src="/public/img/cart-icon 1.png" alt=""></a>
                <a href="/favorite"><img src="/public/img/favorite-icon 1.png" alt=""></a>
            </div>
        </div>
        </div>
        <div class="category">
            <a href="/category"> Shop all teams</a>
            <a href="/category/2">The MLB Champ</a>
            <a href="/favorite">Fav</a>
        </div>
        <div class="reduc">
            <p>PromoCode: PROMOMLBLONDON</p>
        </div>
    </header>
    <div class="all-info">
         <h1>Legal Information</h1>
         <p>The information contained in this website is for general information purposes only. The information is provided by Famous Baseball Boutique and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
         <p>Famous Baseball Boutique reserves the right to modify or replace these legal mentions at any time. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes. Our website may contain links to third-party websites or services that are not owned or controlled by Famous Baseball Boutique. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You further acknowledge and agree that Famous Baseball Boutique shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.</p>
    </div>
    <footer>
        <div class="real-footer">
            <div class="left-info">
                <a href="/legal">Legal mention</a>
                <a href="/about">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo 1.png" alt="">
            </div>
            <div class="right-info">
                <a href="/favorite">My fav</a>
                <a href="/cart">Cart</a>
            </div>
        </div>
    </footer>

    <script src="/public/js/index.js"></script>
</div>
</div>
</body>
</html>
